* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    display: block;
    image-rendering: pixelated;
    pointer-events: none;
}

img::selection {
    color: none;
    background-color: transparent;
}

@font-face {
    font-family: 'Jersey 10';
    src: url('fonts/Jersey_10/Jersey_10.ttf');
}
